

* {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    background-color:   #210074;
    padding: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -5px;
    color: white;
    text-decoration: solid;
    font-size: 13px;
    
}

.profil{
    /* background-color: #f5f4f1; */
    padding: 50px;
    margin: 0 auto;
    max-width: 600px;
    padding-left: 10px;
    text-align: center;
}





.footer {
    text-align: center;
    font-size: 13px;
    padding: 10px;
    background-color: #210074;
    color: #ffffff;
    margin: 0;
}


.info {
    text-align: justify;
    /* background-color: #210074; */
    color: rgb(0, 0, 0);
    width: 900px;
    height: 300px;
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}

.aboutme, .personalinfo {
    width: 45%; 
}


.personalinfo table {
    width: 100%;
}

.personalinfo td {
    padding: 5px 0;
}


.gambar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}

.gambar img {
    width: 100px; 
    height: auto;
}

.reach{
    text-align: center;
}

